<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>ファイルサーバ画面</title>
<link th:href="@{/css/common.css}" rel="stylesheet">
<link th:href="@{/css/fileView.css}" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>

<body>
	<div class="contentsWrap" id="contentsWrap">
		<h1 class="heading">ファイルサーバー</h1>

		<div class="container">
			<!--/*左ボタン類*/-->
			<div class="sideContents">
				<!--/*ページ遷移関係ボタン類*/-->
				<div class="move">
					<!--/*WebSecurityConfigueの .logoutSuccessUrl("/○○") のパラメーターがth:actionに入る*/-->
					<form th:action="@{/logout}" method="GET">
						<input class="btn grayBtn smallBtn logoutBtn" type="submit" name="toLogout" value="ログアウト">
					</form>
					<form th:action="@{/fileView/top}" method="POST">
						<input class="btn grayBtn smallBtn" type="submit" name="moveButton" value="ファイルサーバ">
					</form>
					<form th:action="@{/updateUser}" method="POST">
						<input class="btn grayBtn smallBtn" type="submit" name="moveButton" value="ユーザ情報更新">
					</form>
					<!--/*マスタの場合のみ*/-->
					<form th:if="${fileForm.userAuth} == 0" th:action="@{/userList}" method="POST">
						<input class="btn grayBtn smallBtn" type="submit" name="moveButton" value="ユーザ管理">
					</form>
				</div>

				<!--/*ファイルサーバ画面での動作ボタン類*/-->
				<div class="func">
					<!--/*マスタと更新者の場合のみ*/-->
					<form th:if="not (${fileForm.userAuth} == 2)" th:action="@{/upload}" name="uploadForm" method="POST" enctype="multipart/form-data">
						<label class="btn pinkBtn smallBtn blockBtn" for="multipartFile">アップロード</label>
						<input class="hideBtn" type="file" th:field="${httpForm.multipartFile}" multiple>
						<input type="hidden" th:field="${fileForm.thisDirectoryPath}">
						<input type="hidden" name="isExistSameName" id="isExistSameName">
					</form>

					<form th:action="@{/downloadMultiFiles}" name="downloadForm" id="downloadForm" method="POST">
						<label class="btn pinkBtn smallBtn blockBtn" for="download">ダウンロード</label>
						<input class="hideBtn" type="submit" id="download"> <!--/*name="downloadFilePathList" th:value="${filePath}"*/-->
						<input type="hidden" th:field="*{fileForm.thisDirectoryPath}">
					</form>

					<!--/*マスタと更新者の場合のみ*/-->
					<label th:if="not (${fileForm.userAuth} == 2)" class="btn pinkBtn smallBtn blockBtn" for="checkboxOfMkdir">フォルダ作成</label>
				</div>
			</div>


			<!--/*フォルダ・ファイル一覧部分*/-->
			<div class="mainContents" id="droppable">

				<div class="dirLevel">
					<form th:action="@{/fileView}" method="POST">
						<label class="dirListLabel">
						<input class="hideBtn" type="submit" name="thisDirectoryPath" th:value="${fileForm.homeDirectory}">
						<span>Top</span>
						</label>
						<span th:each="directoryLevel: ${fileForm.directoryLevels}" th:object="${directoryLevel}"> > <label class="dirListLabel">
						<input class="hideBtn" type="submit" name="thisDirectoryPath" th:value="*{filePath}">
						<span th:text="*{fileName}"></span>
						</label></span>
					</form>
				</div>

				<div th:if="${#fields.hasErrors('httpForm.multipartFile')} and ${multipartFileErr}" th:errors="${httpForm.multipartFile}" th:errorclass="err"></div>
				<div th:if="${#fields.hasErrors('fileForm.downloadFilePath')} and ${downloadFilePathErr}" th:errors="${fileForm.downloadFilePath}" th:errorclass="err"></div>
				<div th:if="${#fields.hasErrors('fileForm.downloadFilePathList')} and ${downloadFilePathListErr}" th:errors="${fileForm.downloadFilePathList}" th:errorclass="err"></div>
				<div th:if="${#fields.hasErrors('fileForm.downloadDirectoryPath')} and ${downloadDirectoryPathErr}" th:errors="${fileForm.downloadDirectoryPath}" th:errorclass="err"></div>
				<div th:if="${#fields.hasErrors('fileForm.thisDirectoryPath')} and ${thisDirectoryPathErr}" th:errors="${fileForm.thisDirectoryPath}" th:errorclass="err"></div>
				<div th:if="${#fields.hasErrors('fileForm.renameTargetPath')} and ${renameTargetPathErr}" th:errors="${fileForm.renameTargetPath}" th:errorclass="err"></div>
				<div th:if="${#fields.hasErrors('fileForm.departure')} and ${departureErr}" th:errors="${fileForm.departure}" th:errorclass="err"></div>
				<div th:if="${#fields.hasErrors('fileForm.deleteTargetPath')} and ${deleteTargetPathErr}" th:errors="${fileForm.deleteTargetPath}" th:errorclass="err"></div>
				<div th:if="${hasProcessErrors}" th:text="${processErrMsg}" class="err"></div>

				<!--/*一覧部分*/-->
				<div class="mainTable" th:object="${fileForm}">
					<table class="serverTable">
						<tr>
							<th class="th1"></th>
							<th class="th2">名前</th>
							<th class="th3">最終更新日</th>
							<th class="th4">最終更新者</th>
							<th class="th5"></th>
							<!--/*マスタと更新者の場合のみ*/-->
							<th th:if="not (${fileForm.userAuth} == 2)" class="th6"></th>
							<th th:if="not (${fileForm.userAuth} == 2)" class="th7"></th>
							<th th:if="not (${fileForm.userAuth} == 2)" class="th8"></th>
						</tr>

						<!--/*フォルダの一覧表示*/-->
						<tr class="lineLabel" th:each="directory: *{forDispDirectoryNameList}" th:object="${directory}">
							<!--/*フォルダアイコン*/-->
							<td><label th:for="'directory' + *{fileId}"><div>
										<i class="fas fa-folder"></i>
									</div></label></td>
							<!--/*フォルダ名*/-->
							<td class="tdLeftAlign">
								<div>
									<label>
										<form th:action="@{/fileView}" method="POST">
											<input class="hideBtn" type="submit" name="thisDirectoryPath" th:id="'directory' + *{fileId}" th:value="*{filePath}">
											<label th:for="'directory' + *{fileId}" th:text="*{fileName}"></label>
										</form>
									</label>
								</div>
							</td>
							<!--/*更新日*/-->
							<td class="tdLeftAlign"><label th:for="'directory' + *{fileId}"><div>
										<span th:text="*{updateDate}"></span>
									</div></label></td>
							<!--/*更新者*/-->
							<td class="tdLeftAlign"><label th:for="'directory' + *{fileId}"><div>
										<span th:text="*{updateUser}"></span>
									</div></label></td>
							<!--/*フォルダ内すべてのダウンロード*/-->
							<td>
								<form th:action="@{/downloadDir}" method="POST" target="_blank">
									<button class="btn silverBtn smallerBtn" type="submit" name="downloadDirectoryPath"
											th:value="*{filePath}" onclick="dlDirectory(this.form)">ダウンロード</button>
									<input type="hidden" th:field="${fileForm.thisDirectoryPath}">
								</form>
							</td>
							<!--/*マスタと更新者の場合のみ*/-->
							<td th:if="not (${fileForm.userAuth} == 2)">
								<label class="btn silverBtn smallerBtn1 blockBtn" th:for="'renameTargetDir' + *{fileId}">名称変更</label>
								<input class="hideBtn" type="radio" th:id="'renameTargetDir' + *{fileId}"
										th:value="*{filePath}" th:onclick="rename(this.value, [[*{fileName}]])">
							</td>
							<td th:if="not (${fileForm.userAuth} == 2)">
								<label class="btn silverBtn miniBtn blockBtn" th:for="'departureDir' + *{fileId}">移動</label>
								<input class="hideBtn" type="radio" th:id="'departureDir' + *{fileId}" th:value="*{filePath}" onclick="dirMove(this.value)">
							</td>
							<td th:if="not (${fileForm.userAuth} == 2)">
								<label th:for="'deleteDir' + *{fileId}" class="btn silverBtn miniBtn blockBtn">削除</label>
								<input class="hideBtn" type="submit" th:id="'deleteDir' + *{fileId}"
										th:value="*{filePath}" th:onclick="deleteDirectory(this.value, [[*{fileName}]])">
							</td>
						</tr>

						<!--/*ファイルの一覧表示*/-->
						<tr class="lineLabel" th:each="file: *{forDispFileNameList}" th:object="${file}">
							<!--/*ファイルアイコン*/-->
							<td><label th:for="'downloadFile' + *{fileId}"><div>
										<i class="far fa-file"></i>
									</div></label></td>
							<!--/*ファイル名*/-->
							<td class="tdLeftAlign">
								<div class="checkedFiles">
									<label th:for="'downloadFile' + *{fileId}">
										<div>
											<input class="hideBtn" type="checkbox" name="downloadFilePathList"
													th:id="'downloadFile' + *{fileId}" th:value="*{filePath}" form="downloadForm">
											<span class="hideBtn"><i class="far fa-check-square"></i></span>
											<label th:for="'downloadFile' + *{fileId}" th:text="*{fileName}" class="fileNameLabel"></label>
										</div>
									</label>
								</div>
							</td>
							<!--/*更新日*/-->
							<td class="tdLeftAlign">
								<label th:for="'downloadFile' + *{fileId}">
									<div>
										<span th:text="*{updateDate}"></span>
									</div>
								</label>
							</td>
							<!--/*更新者*/-->
							<td class="tdLeftAlign">
								<label th:for="'downloadFile' + *{fileId}">
									<div>
										<span th:text="*{updateUser}"></span>
									</div>
								</label>
							</td>
							<td>
								<form th:action="@{/download}" method="POST">
									<button class="btn silverBtn smallerBtn" type="submit" name="downloadFilePath" th:value="*{filePath}" onclick="dlFile(this.form)">ダウンロード</button>
									<input type="hidden" th:field="${fileForm.thisDirectoryPath}">
								</form>
							</td>
							<!--/*マスタと更新者の場合のみ*/-->
							<td th:if="not (${fileForm.userAuth} == 2)">
									<label class="btn silverBtn smallerBtn1 blockBtn" th:for="'renameTargetFile' + *{fileId}">名称変更</label>
									<input class="hideBtn" type="radio" th:id="'renameTargetFile' + *{fileId}"
											th:value="*{filePath}" th:onclick="rename(this.value, [[*{fileName}]])">
							</td>
							<td th:if="not (${fileForm.userAuth} == 2)">
									<label class="btn silverBtn miniBtn blockBtn" th:for="'departureFile' + *{fileId}">移動</label>
									<input class="hideBtn" type="radio" th:id="'departureFile' + *{fileId}" th:value="*{filePath}" onclick="dirMove(this.value)">
							</td>
							<td th:if="not (${fileForm.userAuth} == 2)">
								<label th:for="'deleteFile' + *{fileId}" class="btn silverBtn miniBtn blockBtn">削除</label>
								<input class="hideBtn" type="submit" th:id="'deleteFile' + *{fileId}"
										th:value="*{filePath}" th:onclick="deleteFile(this.value, [[*{fileName}]])">
							</td>
						</tr>
					</table>
					<form name="deleteForm" id="deleteForm" method="POST" th:action="@{/deleteFile}">
						<input type="hidden" name="deleteTargetPath" id="deleteTarget">
						<input type="hidden" th:field="*{thisDirectoryPath}">
					</form>
				</div>
			</div>
		</div>


		<!--/*新規フォルダ作成処理変更*/-->
		<div class="popupWrap" th:object="${fileForm}">
			<input id="checkboxOfMkdir" type="checkbox">
			<div class="overlay">
				<label for="checkboxOfMkdir" class="popupCloseRange"></label>
				<div class="popupFieldText" th:classappend="${isRedisplayMkdir} ? 'popupFieldTextHasErrors'">
					<label for="checkboxOfMkdir" class="popupCloseBtn">×</label>
					<p class="heading">新しいフォルダを作成</p>


					<div th:if="${isRedisplayMkdir}" id="mkdirErrMsgs">
						<div th:if="${#fields.hasErrors('newDirectoryName')}" th:errors="*{newDirectoryName}" th:errorclass="err"></div>
						<div th:if="${#fields.hasErrors('newDirectoryPath')}" th:errors="*{newDirectoryPath}" th:errorclass="err"></div>
						<div class="err" th:if="${hasMkdirErr}" th:text="${errMsg}"></div>
					</div>


					<form class="popupContentsText" id="mkdirForm" name="mkdirForm" th:action="@{/makeDirectory}" method="POST">
						<input id="mkdirTextValue" th:field="*{newDirectoryName}" type="text">
						<button class="btn pinkBtn smallBtn" type="submit" id="popupMkdirSubmitBtn">作成</button>
						<input type="hidden" id="mkdirThisDirectory" th:field="*{thisDirectoryPath}">
						<input type="hidden" th:field="*{newDirectoryPath}">
					</form>
				</div>
			</div>
		</div>
		<!--/*新規フォルダ作成処理以上*/-->


		<!--/*名称変更*/-->
		<div class="popupWrap" th:object="${fileForm}">
			<input id="checkboxOfRename" type="checkbox">
			<div class="overlay">
				<label for="checkboxOfRename" class="popupCloseRange"></label>
				<div class="popupFieldText" th:classappend="${isRedisplayRename} ? 'popupFieldTextHasErrors'">
					<label for="checkboxOfRename" class="popupCloseBtn">×</label>
					<p class="heading">名前を変更</p>


					<div th:if="${isRedisplayRename}" id="renameErrMsgs">
						<div th:if="${#fields.hasErrors('afterName')}" th:errors="*{afterName}" th:errorclass="err"></div>
						<div th:if="${#fields.hasErrors('afterPath')}" th:errors="*{afterPath}" th:errorclass="err"></div>
						<div class="err" th:if="${hasRenameErr}" th:text="${errMsg}"></div>
					</div>


					<form class="popupContentsText" name="changeNameForm" id="changeNameForm" th:action="@{/changeName}" method="POST">
						<input id="renameTextValue" name="afterName" type="text">
						<button class="btn pinkBtn smallBtn" type="submit" id="popupRenameSubmitBtn">変更</button>
						<input type="hidden" id="renameThisDirectory" th:field="*{thisDirectoryPath}">
						<input type="hidden" th:field="*{afterPath}">
						<input type="hidden" th:field="*{renameTargetPath}">
					</form>
				</div>
			</div>
		</div>
		<!--/*名称変更処理以上*/-->


		<!--/*移動処理*/-->
		<div class="popupWrap" th:object="${fileForm}">
			<input id="checkboxOfRenameByMove" type="checkbox">
			<div class="overlay">
				<label for="checkboxOfRenameByMove" class="popupCloseRange"></label>
				<div class="popupField">
					<label for="checkboxOfRenameByMove" class="popupCloseBtn">×</label>
					<p class="heading">移動先のフォルダを選択してください</p>


					<div th:if="${isRedisplayMove}" id="moveErrMsgs">
						<div th:if="${#fields.hasErrors('departure')}" th:errors="*{departure}" th:errorclass="err"></div>
						<div th:if="${#fields.hasErrors('destination')}" th:errors="*{destination}" th:errorclass="err"></div>
						<div th:if="${#fields.hasErrors('destinationFilePath')}" th:errors="*{destinationFilePath}" th:errorclass="err"></div>
						<div class="err" th:if="${hasMoveErr}" th:text="${errMsg}"></div>
					</div>


					<form class="popupContents" id="renameByMoveForm" name="renameByMoveForm" th:action="@{/moveDirectory}" method="POST">
						<!--/*フォルダ一覧ヘッダ部分*/-->
						<div class="popupTableHead">
							<table class="serverTable">
								<tr>
									<th class="popTblW1">移動先</th>
									<th class="popTblW2">フォルダパス</th>
								</tr>
							</table>
						</div>
						<!--/*一覧部分*/-->
						<div class="popupTable">
							<table class="serverTable">
								<!--/*フォルダの一覧表示*/-->
								<tr class="linePopupLabel" th:each="list: *{allDirList}" th:object="${list}">
									<!--/*フォルダ名*/-->
									<td class="popTblW1">
										<div>
											<label th:for="'radioPath' + *{fileId}">
												<div>
													<input class="hideBtn" type="radio" th:id="'radioPath' + *{fileId}"
															name="destination" th:value="*{filePath}" onclick="isCheckedRadio(this.value)">
													<span class="hideBtn"><i class="far fa-check-square"></i></span>
													<label th:for="'radioPath' + *{fileId}" th:text="*{fileName}"></label>
													<button class="hideBtn" type="button" name="fileName" th:value="*{fileName}"></button>
												</div>
											</label>
										</div>
									</td>
									<!--/*フォルダパス*/-->
									<td class="popTblW2">
										<div>
											<label th:for="'radioPath' + *{fileId}" th:text="*{filePath}"></label>
										</div>
									</td>
								</tr>
							</table>
						</div>
						<button class="btn pinkBtn smallBtn" type="submit" id="popupMoveSubmitBtn">ここへ移動</button>
						<input type="hidden" th:field="*{departure}">
						<input type="hidden" th:field="*{destinationFilePath}">
						<input type="hidden" th:field="*{thisDirectoryPath}">
					</form>
				</div>
			</div>
		</div>
		<!--/*移動処理以上*/-->

	</div>
	<!--/*contentsWrap*/-->

	<script th:src="@{/js/fileView.js}"></script>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	<script type="text/javascript" th:inline="javascript">
	//ページ読み込み時に判断
	window.addEventListener('load', (e) => {
		if(/*[[${isRedisplayMkdir}]]*/) {
			//document.getElementById('mkdirErrMsgs').classList.remove('hideBtn');
			mkdir(/*[[${fileForm.newDirectoryName}]]*/, true);
		} else if(/*[[${isRedisplayRename}]]*/) {
			//document.getElementById('renameErrMsg').classList.remove('hideBtn');
			rename(/*[[${fileForm.renameTargetPath}]]*/, /*[[${fileForm.afterName}]]*/);
		} else if(/*[[${isRedisplayMove}]]*/) {
			//document.getElementById('moveErrMsg').classList.remove('hideBtn');
			dirMove(/*[[${fileForm.departure}]]*/);
		}
	});
</script>

</body>
</html>