<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザ管理</title>
<link th:href="@{/css/common.css}" rel="stylesheet">
<link th:href="@{/css/userList.css}" rel="stylesheet">
</head>
<body>
	<div class="contentsWrap">
		<h1 class="heading">ユーザ管理</h1>
		<p th:if="${#lists.isEmpty(userlist)}">ユーザが登録されていません</p>

		<div class="container">
			<!--/*左ボタン類*/-->
			<div class="sideContents">
				<!--/*ページ遷移関係ボタン類*/-->

				<div class="move">
					<!--/*WebSecurityConfigueの .logoutSuccessUrl("/○○") のパラメーターがth:actionに入る*/-->
					<form th:action="@{/logout}" method="GET">
						<input class="btn grayBtn smallBtn logoutBtn" type="submit" name="toLogout" value="ログアウト">
					</form>
					<form th:action="@{/fileView/top}" method="POST">
						<input class="btn grayBtn smallBtn" type="submit" name="moveButton" value="ファイルサーバ">
					</form>
					<form th:action="@{/updateUser}" method="POST">
						<input class="btn grayBtn smallBtn" type="submit" name="moveButton" value="ユーザ情報更新">
					</form>
					<!--/*マスタの場合のみ*/-->
					<form th:if="${userAuth} == 0" th:action="@{/userList}" method="POST">
						<input class="btn grayBtn smallBtn" type="submit" name="moveButton" value="ユーザ管理">
					</form>
				</div>
			</div>

			<div class="mainContents">
				<div class="mainTable">
					<form name="userListForm" id="userForm" method="POST" action="">
						<input class="hideBtn" type="hidden" name="userId" id="userId">
						<input class="hideBtn" type="hidden" name="authority" id="editAuth">
					</form>
					<table class="userManagementTable">
						<tr>
							<th class="userIdCol">ユーザID</th>
							<th class="userNameCol">ユーザ名</th>
							<th class="userAuthCol">権限</th>
							<th class="userDeleteCol"></th>

						</tr>
						<tr th:each="list : ${userlist}" th:object="${list}">
							<td>
								<p class="dispId" th:text="*{userId}"></p>
							</td>
							<td>
								<p th:text="*{userName}"></p>
							</td>
							<td>
								<span th:if="*{authority}==0">マスタ</span>
								<select th:classappend="|*{authority==1 ? 'writable' : ''} *{authority==2 ? 'readable' : ''}|" th:if="*{authority}!=0"
										th:onchange="changeUserAuth([[*{userId}]], this.value)">
									<option th:value="1" th:selected="*{authority}==1">更新者</option>
									<option th:value="2" th:selected="*{authority}==2">閲覧者</option>
								</select>
								<div class="errSmall" th:if="*{userId} == ${authTarget}" th:text="${errMsg}"></div>
							</td>
							<td>
								<span th:if="*{authority}==0">―</span>
								<input class="btn silverBtn smallerBtn1" type="button" th:if="*{authority}!=0" th:id="'delete' + *{userName}"
										value="削除" th:onclick="deleteUser([[*{userId}]], [[*{authority}]])">
								<div class="errSmall" th:if="*{userId} == ${deleteTarget}" th:text="${errMsg}"></div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

	<script th:src="@{/js/userList.js}"></script>

</body>
</html>