<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>エラー</title>
<link th:href="@{/css/common.css}" rel="stylesheet">
</head>
<body class="backgroundBlue">
	<div class="contentsWrap errWrap">
		<div th:if="${status} == 404" class="errContents">
			<form th:action="@{/logout}" method="POST">
				<img th:src="@{/img/internet_404_page_not_found_j.png}">
				<h2 th:text="${status} + ' Not Found'" class="errHeading"></h2>
				<p>お探しのページは見つかりませんでした。</p>
				<p>お手数ですが、ログインからやり直してください。</p>
				<input class="btn pinkBtn errBtn" type="submit" value="ログイン画面へ">
			</form>
		</div>
	</div>
</body>
</html>