<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
</head>
<body>
<h1 align="center">ログイン</h1>
<form th:action="@{/authenticate}" method="POST">
    <table align="center">
        <tr>
            <td>
                ユーザID(メールアドレス)
            </td>
       </tr>
       <tr>
            <td>
                <input type="text" id="user" name="userName" size="60"/>
            </td>
        </tr>
        <tr>
            <td>
                パスワード
            </td>
        </tr>
        <tr>
            <td>
                <input type="password" id="password" name="password" size="60"/>
            </td>
        </tr>
        <tr>
        <tr>
        <td>
        </td>
        </tr>
            <td align="center">
                <button type="submit" style="width:440px;background-color:#ffb6c1">ログイン</button>
            </td>
        </tr>
    </table>
    <p>
</form>
<form th:action="@{/regist}" method="POST">
    <table align="center">
        <tr>
            <td>
                <button type="submit" style="width:440px;background-color:#d3d3d3">未登録の場合はこちら</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>