<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ユーザ登録</title>
	<link th:href="@{/css/common.css}" rel="stylesheet">
	<link th:href="@{/css/loginAndRegist.css}" rel="stylesheet">
</head>

<body>
	<div class="contentsWrap">
		<h1 class="heading">ユーザ登録</h1>

		<div class="mainContents">
			<form name="registForm" id="registForm" th:object="${userForm}">
				<div class="inputArea">
					<div class="label"><label for="userId">ユーザID(メールアドレス)</label></div>
					<input type="email" th:field="*{userId}" placeholder="E-Mail形式で半角英数字254文字以内" autocomplete="off"
							th:classappend="|${#fields.hasErrors('userId')==true ? 'errBox' : ''} ${isUsedIdErr==true ? 'errBox' : ''}|">
					<div class="err" th:if="${#fields.hasErrors('userId')}" th:text="${errIdMsg}"></div>
					<div class="err" th:if="${isUsedIdErr}" th:text="${errIdMsg}"></div>
				</div>

				<div class="inputArea">
					<div class="label"><label for="userName">ユーザ名</label></div>
					<input type="text" th:field="*{userName}" placeholder="半角英数字32文字以内" autocomplete="off"
							th:classappend="|${#fields.hasErrors('userName')==true ? 'errBox' : ''} ${isUsedNameErr==true ? 'errBox' : ''}|">
					<div th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" th:errorclass="err"></div>
					<div class="err" th:if="${isUsedNameErr}" th:text="${errNameMsg}"></div>
				</div>

				<div class="inputArea">
					<div class="label"><label for="password">パスワード</label></div>
					<input type="password" th:field="*{password}" placeholder="半角英数字32文字以内"
							th:classappend="|${#fields.hasErrors('password')==true ? 'errBox' : ''} ${isEqualPwErr==true ? 'errBox' : ''}|">
					<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="err"></div>
					</div>

				<div class="inputArea">
					<div class="label"><label for="conPassword">確認用パスワード</label></div>
					<input type="password" th:field="*{conPassword}" placeholder="半角英数字32文字以内"
							th:classappend="|${#fields.hasErrors('conPassword')==true ? 'errBox' : ''} ${isEqualPwErr==true ? 'errBox' : ''}|">
					<div th:if="${#fields.hasErrors('conPassword')}" th:errors="*{conPassword}" th:errorclass="err"></div>
					<div class="err" th:if="${isEqualPwErr}" th:text="${errPwMsg}"></div>
				</div>

			 	<div class="btnWrap">
	 				<input class="btn pinkBtn mediumBtn" type="button" id="backBtn" value="戻る">
					<input class="btn pinkBtn mediumBtn" type="submit" id="registBtn" value="登録">
				</div>
			</form>
		</div>
	</div>

	<script type="text/javascript" th:inline="javascript">
		/* コントローラから登録完了フラグを取得してメッセージ出力 */
		if(/*[[${isRegistered}]]*/){
			alert("登録が完了しました。");
			location.href = "/";
		}

	</script>
	<script th:src="@{/js/regist.js}"></script>

</body>
</html>